#home{
    position: absolute;
    width: 121.29px;
    height: 16.08px;
    left: 191px;
    top: 67px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

#about{
    position: absolute;
    width: 121.29px;
    height: 16.08px;
    left: 349px;
    top: 66px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73; 
}

#menu{
    position: absolute;
    width: 121.29px;
    height: 16.08px;
    left: 507px;
    top: 67px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;       
}

#contact{
    position: absolute;
    width: 136px;
    height: 16px;
    left: 665px;
    top: 67px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

#tagline{
    position: absolute;
    width: 918px;
    height: 179px;
    left: 82px;
    top: 243px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 79px;
    /* or 99% */
    
    display: flex;
    align-items: center;
    
    color: #DC780B;
}

#description{
    position: absolute;
    width: 667px;
    height: 181px;
    left: 82px;
    top: 382px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: justify;
    
    color: #656C73;
    
}

#order{
    position: absolute;
    width: 180.7px;
    height: 48.28px;
    left: 82px;
    top: 563px;
    
    background: #DC780B;
    border-radius: 12px;
}

.order{
    position: absolute;
    width: 132.42px;
    height: 17.56px;
    left: 106.14px;
    top: 578.36px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
}

#details{
    position: absolute;
    width: 180.7px;
    height: 48.28px;
    left: 318.3px;
    top: 563px;
    
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.detail{
    position: absolute;
    width: 141px;
    height: 18px;
    left: 338px;
    top: 578px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
    /* or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #DC780B;
}

.pan{
    position: absolute;
    width: 664px;
    height: 573px;
    left: 1329px;
    top: 135px;
    
    background: url(pngwing.png);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}