@font-face {
    font-family: 'AstoriaMedium';
    src: url('AstoriaMedium.ttf') format('truetype');
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropbtn {
    color: #333;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #DC780B;
    color: white;
    border-radius: 12px;
}
  
#logo{
    position: absolute;
    width: 83px;
    height: 56px;
    left: 104px;
    top: 29px;    
}

#home{
    position: absolute;
    width: 133.12px;
    height: 17.65px;
    left: 250px;
    top: 48px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 91.7%;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

#about{
    position: absolute;
    width: 133.12px;
    height: 17.65px;
    left: 400px;
    top: 48px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 91.7%;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.dropbtn{
    position: absolute;
    width: 135px;
    height: 18px;
    left: 500px;
    top: 39px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 91.7%;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    color: #656C73;
}

.dropdown-content{
    position: absolute;
    width: 135px;
    height: 18px;
    left: 485px;
    top: 64px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 91.7%;

    text-decoration: none;
}

a.section{
    color: #656C73;
}

#contact{
    position: absolute;
    width: 149.27px;
    height: 17.56px;
    left: 720px;
    top: 48px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 91.7%;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}   

.book{
    background-color: #6FA12B;
    color: white;
    border: none;
    cursor: pointer;

    position: absolute;
    width: 187.68px;
    height: 52.68px;
    left: 1240px;
    top: 32px;
    border-radius: 12px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
}

.book:hover{
    background-color: white;
    color: #6FA12B;
    border: 2px solid #6FA12B;
}

.booklink{
    color: white;
    text-decoration: none;
}

.booklink:hover{
    color: #DC780B;
}

.tagline{
    position: absolute;
    width: 734px;
    height: 158px;
    left: 104px;
    top: 150px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 70px;
    
    display: flex;
    align-items: center;
    
    color: #DC780B;
}

p.description{
    position: absolute;
    width: 680px;
    height: 200px;
    left: 104px;
    top: 280px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20.1px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: justify;
    
    color: #656C73;
}

.order{
    background-color: white;
    color: #6FA12B;
    border: 2px solid #6FA12B;
    cursor: pointer;

    position: absolute;
    width: 187.68px;
    height: 52.68px;
    left: 104px;
    top: 520px;    
    border-radius: 12px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
}

.order:hover{
    background-color: #6FA12B;
    color: white;
}

.details{
    background-color: white;
    color: #6FA12B;
    border: 2px solid #6FA12B;
    cursor: pointer;

    position: absolute;
    width: 187.68px;
    height: 52.68px;
    left: 330px;
    top: 520px; 
    border-radius: 12px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
}

.details:hover{
    background-color: #6FA12B;
    color: white;
}

.pan{
    position: absolute;
    width: 710px;
    height: 600px;
    left: 750px;
    top: 70px;
}

li{
    list-style-type: none
}