@font-face {
    font-family: 'AstoriaMedium';
    src: url('AstoriaMedium.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.right-sidebar{
    height: 400px;
    width: 100px;
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
}

.left-sidebar{
    height: 400px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 10px;
}

div.content{
    height: 1700px;
    width: 1299px;
    margin-left: 8.46%;
    margin-top: 1.54%; 
    margin-bottom: -15.38%; 
}

li, a, button{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: #656C73;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    z-index: 1;
}

#logo{
    cursor: pointer;
    width: 83px;
    height: 56px;
    margin-right: auto;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a{
    transition: all 0.3s ease 0s;
}

.nav-links a:hover{
    color: #DC780B;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
  
.dropdown-menu li {
    background-color: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.dropdown-menu li a {
    color: #656C73;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-decoration: none;
}
  
.dropdown-menu li:last-child {
    border-bottom: none;
}  

button.nav-book{
    padding: 9px 25px;
    background-color: #6FA12B;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: white;
}

button:hover{
    padding: 9px 25px;
    background-color: #70a12bbe;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button.order{
    position: absolute;
    width: 199.62px;
    height: 53.34px;
    left: 8.5%;
    top: 67%;
    padding: 9px 25px;
    background-color: white;
    border: 1px solid #6FA12B;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: #6FA12B;
    font-size: 22px;
}

button.details{
    position: absolute;
    width: 199.62px;
    height: 53.34px;
    left: 24%;
    top: 67%;
    padding: 9px 25px;
    background-color: white;
    border: 1px solid #6FA12B;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: #6FA12B;
    font-size: 22px;
}

button.order:hover, button.details:hover{
    background-color: #6FA12B;
    color: white;
    border: none;
}

.tagline{
    position: absolute;
    width: 734px;
    height: 158px;
    left: 10%;
    top: 28%;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 79px;
    
    display: flex;
    align-items: center;
    
    color: #DC780B;
}

.tagline-description{
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    width: 700px;
    height: 200px;
    left: 10%;
    top: 43%;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    
    color: #656C73;
}

.pan{
    position: absolute;
    width: 716px;
    height: 618px;
    left: 47%;
    top: 10%;
}

.features {
    display: flex;
    justify-content: center;
}

.subtitle {
    position: absolute;
    top: 114%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #DC780B;
  }
  
  .subtitle-tagline {
    position: absolute;
    top: 118%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #656C73;
  }
.ingredients {
    display: flex;
    justify-content: center;
}

.pic-ingredients{
    position: absolute;
    width: 117px;
    height: 117px;
    left: 16%;
    right: 0;
    top: 132%;
}

.title-ingredient{
    position: absolute;
    width: 200px;
    left: 13.3%;
    top: 147%;

    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    text-align:center;
    
    color: #6FA12B;
}

.description-ingredient{
    position: absolute;
    width: 250px;
    left: 11.9%;
    top: 158%;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.deliver{
    display: flex;
    justify-content: center;
}

.pic-deliver{
    position: absolute;
    width: 117px;
    height: 117px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 132%; 
}

.title-deliver{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 1100px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    text-align:center;
    
    color: #6FA12B;
}

.description-deliver{
    position: absolute;
    width: 250px;
    height: 83px;
    left: 635px;
    top: 1170px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.rate{
    display: flex;
    justify-content: center;
}

.pic-rate{
    position: absolute;
    width: 117px;
    height: 117px;
    left: 75.6%;
    right: 0;
    top: 132%;
}

.title-rate{
    position: absolute;
    width: 200px;
    left: 1110px;
    top: 1100px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    text-align:center;
    
    color: #6FA12B;
}

.description-rate{
    position: absolute;
    width: 250px;
    height: 83px;
    left: 1085px;
    top: 1170px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.aboutus, .about-picture, .about-caption{
    display: flex;
    justify-content: center;
}

.about-chadacucina{
    position: absolute;
    width: 532px;
    height: 532px;
    left: 200px;
    top: 1400px;
    
    background: url(about-photo.png);
    border-radius: 34px;
}

.title-chadacucina{
    position: absolute;
    width: 602px;
    height: 79px;
    left: 800px;
    top: 1540px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 99%;
    
    display: flex;
    align-items: center;
    
    color: #6FA12B;
}

.subtitle-about{
    position: absolute;
    left: 800px;
    top: 1500px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #DC780B;
}

.title-description{
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    width: 500px;
    height: 200px;
    left: 800px;
    top: 1580px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    
    color: #656C73;
}

.readmore{
    position: absolute;
    width: 199.62px;
    height: 53.34px;
    left: 800px;
    top: 1780px;
    background-color: #6FA12B;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 22px;
}

.readmore:hover{
    background-color: white;
    border: 1px solid #6FA12B;
    color: #6FA12B;
}

.feedback{
    display: flex;
    justify-content: center;
}

.subtitle-features{
    position: absolute;
    top: 2100px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #DC780B;
}

.subtitle-feedback{
    position: absolute;
    display: flex;
    top: 2130px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #656C73;
}

.simon{
    position: absolute;
    width: 199px;
    height: 199px;
    top: 2250px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

.title-simon{
    position: absolute;
    width: 750px;
    height: 79px;
    left: 560px;
    top: 2460px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 99%;
    
    display: flex;
    align-items: center;
    
    color: #6FA12B;
}

.feedback-1{
    position: absolute;
    width: 718px;
    height: 83px;
    left: 400px;
    top: 2540px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.newsletter {
    background-color: #FBF1E7;
    padding: 70px;
    width: 100%;
    height: 335px;
    text-align: center;
}

.subtitle-newsletter{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    line-height: 91.7%;
    color: #DC780B;
}

.subtitle-nltagline{
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #656C73;
    margin-top: 1%;
}

.newsletter form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    margin: auto;
    margin-top: 3%;
}

button[type="submit"] {
    background-color: #6FA12B;
    border-radius: 12px;
    height: 50px;
    width: 150px;
    margin: auto;
}

.newsletter input[type="email"] {
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 10px;
}

input[type="email"]:focus {
    outline: none;
}

#email{
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    height: 62px;
    padding: 16px 16px 16px 30px;
    font-size: 16px;
    color: #656C73;
    height: 50px;
}

.newsletter button {
    background-color: #6FA12B;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #252525;
    padding: 20px;
    height: 330px;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-column {
    flex: 1;
    margin-top: 2.5%;
    margin-left: 12%;
    align-items: center;
    text-align: justify; 
    width: 200px;
}
  
.footer-column:last-child {
    margin-right: 0;
}
  
h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.ul-links-1 {
    list-style: none;
    padding: 0;
    margin-top: 10%;
    line-height: 130%;
}
  
.li-footer {
    margin-bottom: 5px;
}
  
.footer-a{
    color: white;
    text-decoration: none;
}

#logo-footer{
    width: 83px;
    height: 56px;
}

.footer-about{
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: white;
    margin-top: 21%;
}

.title-about{
    position: absolute;
    font-family: 'AstoriaMedium';
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.ul-links{
    line-height: 130%;
    align-items: center;
    text-align: justify;
    color: white;
    margin-top: 21%;
    list-style: none;
}

.footer-icons a.social {
    margin-right: 10px; 
}

.footer-icons{
    margin-top: 6%;
}

@media only screen and (max-width: 600px) {
    /* adjust font sizes */
    .tagline {
        width: auto;
        font-size: 50px;
        line-height: 60px;
        top: 70%;
        text-align: center;
    }
    .tagline-description{
        font-size: 16px;
        top: 90%;
        line-height: 150%;
        width: auto;
        text-align: center;
        padding-right: 6%;
    }
    .pan{
        width: 415px;
        height: 358px;
        left: 10%;
        width: auto;
        top: 15%;
    }
    button.order{
        top: 118%;
    }
    button.details{
        left: 50%;
        top: 118%;
    }
    .subtitle {
        top: 140%;
        font-size: 14px;
        margin: auto; 
    }
    
    .subtitle-tagline {
        top: 145%;
        font-size: 28px; 
    }
    .pic-ingredients{
        width: 117px;
        height: 117px;
        margin-left: 23%;
        top: 160%;
    }
    
    .title-ingredient{
        margin: auto;
        width: 360px;
        top: 175%;
        font-size: 25px;
        line-height: 79px;
    }
    
    .description-ingredient{
        margin: auto;
        margin-left: 3%;
        width: 360px;
        top: 185%;
        font-size: 15px;
        line-height: 20px;
    }
    .pic-deliver{
        margin: auto;
        width: 117px;
        height: 117px;
        top: 200%;
    }
    
    .title-deliver{
        margin: auto;
        width: 425px;
        top: 215%;
        font-size: 25px;
        line-height: 79px;
    }
    
    .description-deliver{
        width: 390px;
        margin-left: -119%;
        top: 223%;
        font-size: 15px;
        line-height: 20px;
    }
    .pic-rate {
        margin: auto;
        top: 242%;
        margin-left: -37%;

    }
    
    .title-rate{
        margin: auto;
        margin-left: -223%;
        width: 425px;
        top: 260%;
        font-size: 25px;
        line-height: px;
    }
    
    .description-rate{
        width: 390px;
        margin-left: -210%;
        top: 270%;
        font-size: 15px;
        line-height: 20px;
    }
    .about-chadacucina{
        margin-top: 500%;
    }
    .newsletter form{
        width: 300px;
    }
    button[type="submit"] {
        margin-top: 5%;
        height: 40px;
    }
    .newsletter{
        height: 380px;
    }
}