@font-face {
    font-family: 'AstoriaMedium';
    src: url('AstoriaMedium.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.right-sidebar{
    height: 400px;
    width: 100px;
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
}

.left-sidebar{
    height: 400px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 10px;
}

div.content{
    height: 2600px;
    width: 1299px;
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: -400px;
}

li, a, button{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: #656C73;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

#logo{
    cursor: pointer;
    width: 83px;
    height: 56px;
    margin-right: auto;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a{
    transition: all 0.3s ease 0s;
}

.nav-links a:hover{
    color: #DC780B;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
  
.dropdown-menu li {
    background-color: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.dropdown-menu li a {
    color: #656C73;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-decoration: none;
}
  
.dropdown-menu li:last-child {
    border-bottom: none;
}  

button.nav-book{
    padding: 9px 25px;
    background-color: #6FA12B;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: white;
}

button:hover{
    padding: 9px 25px;
    background-color: #70a12bbe;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button.order{
    position: absolute;
    width: 199.62px;
    height: 53.34px;
    left: 130px;
    top: 500px;
    padding: 9px 25px;
    background-color: white;
    border: 1px solid #6FA12B;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: #6FA12B;
    font-size: 22px;
}

button.details{
    position: absolute;
    width: 199.62px;
    height: 53.34px;
    left: 365.04px;
    top: 500px;
    padding: 9px 25px;
    background-color: white;
    border: 1px solid #6FA12B;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: #6FA12B;
    font-size: 22px;
}

button.order:hover, button.details:hover{
    background-color: #6FA12B;
    color: white;
    border: none;
}

.tagline{
    position: absolute;
    width: 734px;
    height: 158px;
    left: 150px;
    top: 200px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 79px;
    
    display: flex;
    align-items: center;
    
    color: #DC780B;
}

.tagline-description{
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    width: 700px;
    height: 200px;
    left: 150px;
    top: 320px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    
    color: #656C73;
}

.pan{
    position: absolute;
    width: 716px;
    height: 618px;
    left: 710px;
    top: 71px;
}

.features {
    display: flex;
    justify-content: center;
}

.subtitle{
    position: absolute;
    top: 850px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #DC780B;
}

.subtitle-tagline{
    position: absolute;
    top: 880px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #656C73;
}

.ingredients {
    display: flex;
    justify-content: center;
}

.pic-ingredients{
    position: absolute;
    width: 117px;
    height: 117px;
    left: 242px;
    top: 980px;
}

.title-ingredient{
    position: absolute;
    width: 200px;
    left: 199px;
    top: 1100px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    text-align:center;
    
    color: #6FA12B;
}

.deliver{
    display: flex;
    justify-content: center;
}

.pic-deliver{
    position: absolute;
    width: 117px;
    height: 117px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 980px; 
}

.description-ingredient{
    position: absolute;
    width: 250px;
    height: 83px;
    left: 175px;
    top: 1170px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.title-deliver{
    position: absolute;
    width: 280px;
    left: 620px;
    top: 1100px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    text-align:center;
    
    color: #6FA12B;
}

.description-deliver{
    position: absolute;
    width: 250px;
    height: 83px;
    left: 635px;
    top: 1170px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.rate{
    display: flex;
    justify-content: center;
}

.pic-rate{
    position: absolute;
    width: 117px;
    height: 117px;
    left: 1150px;
    top: 980px;
}

.title-rate{
    position: absolute;
    width: 200px;
    left: 1110px;
    top: 1100px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 25px;
    line-height: 79px;
    text-align:center;
    
    color: #6FA12B;
}

.description-rate{
    position: absolute;
    width: 250px;
    height: 83px;
    left: 1085px;
    top: 1170px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.aboutus, .about-picture, .about-caption{
    display: flex;
    justify-content: center;
}

.about-chadacucina{
    position: absolute;
    width: 532px;
    height: 532px;
    left: 200px;
    top: 1400px;
    
    background: url(about-photo.png);
    border-radius: 34px;
}

.title-chadacucina{
    position: absolute;
    width: 602px;
    height: 79px;
    left: 800px;
    top: 1540px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 99%;
    
    display: flex;
    align-items: center;
    
    color: #6FA12B;
}

.subtitle-about{
    position: absolute;
    left: 800px;
    top: 1500px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #DC780B;
}

.title-description{
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    width: 500px;
    height: 200px;
    left: 800px;
    top: 1580px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    
    color: #656C73;
}

.readmore{
    position: absolute;
    width: 199.62px;
    height: 53.34px;
    left: 800px;
    top: 1780px;
    background-color: #6FA12B;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 22px;
}

.readmore:hover{
    background-color: white;
    border: 1px solid #6FA12B;
    color: #6FA12B;
}

.feedback{
    display: flex;
    justify-content: center;
}

.subtitle-features{
    position: absolute;
    top: 2100px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #DC780B;
}

.subtitle-feedback{
    position: absolute;
    display: flex;
    top: 2130px;
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #656C73;
}

.simon{
    position: absolute;
    width: 199px;
    height: 199px;
    top: 2250px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

.title-simon{
    position: absolute;
    width: 750px;
    height: 79px;
    left: 560px;
    top: 2460px;
    
    font-family: 'AstoriaMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 99%;
    
    display: flex;
    align-items: center;
    
    color: #6FA12B;
}

.feedback-1{
    position: absolute;
    width: 718px;
    height: 83px;
    left: 400px;
    top: 2540px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    
    align-items: center;
    text-align: center;
    
    color: #656C73;
}

.footer-container{
    background-color: #252525;
    padding-bottom: 4rem 0 4rem 0;
    flex-shrink: 0;
}

.footer{
    width: 80%;
    height: 40vh;
    background-color: #252525;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.footer-1{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: white;
    transition: 0.3s ease-out;
    background-color: #DC780B;
}

.footer-email h2{
    margin-bottom: 2rem;
}

.email-form{
    margin-top: 100px;
    margin-left: auto;
}


#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 25px;
}

#footer-email::placeholder{
    color: #656C73;
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #DC780B;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: #6FA12B;
    transition: all 0.4s ease-out;
}

