@font-face {
  font-family: 'AstoriaMedium';
  src: url('AstoriaMedium.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.right-sidebar{
    height: 400px;
    width: 100px;
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
}

.left-sidebar{
    height: 400px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 10px;
}

li, a, button{
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
  color: #656C73;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  z-index: 1;
}

#logo{
  cursor: pointer;
  width: 83px;
  height: 56px;
  margin-right: auto;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links a{
  transition: all 0.3s ease 0s;
}

.nav-links a:hover{
  color: #DC780B;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dropdown-menu li a {
  color: #656C73;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-decoration: none;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}  

button.nav-book{
  padding: 9px 25px;
  background-color: #6FA12B;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  color: white;
}

button:hover{
  padding: 9px 25px;
  background-color: #70a12bbe;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


button.order{
  position: absolute;
  width: 199.62px;
  height: 53.34px;
  left: 8.5%;
  top: 67%;
  padding: 9px 25px;
  background-color: white;
  border: 1px solid #6FA12B;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  color: #6FA12B;
  font-size: 22px;
}

button.details{
  position: absolute;
  width: 199.62px;
  height: 53.34px;
  left: 24%;
  top: 67%;
  padding: 9px 25px;
  background-color: white;
  border: 1px solid #6FA12B;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  color: #6FA12B;
  font-size: 22px;
}

button.order:hover, button.details:hover{
  background-color: #6FA12B;
  color: white;
  border: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    text-align: center;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  .nav-links a {
    color: #656c73;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: #656c73;
    margin: 5px;
    transition: all 0.3s ease 0s;
  }

  .active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .active .line:nth-child(2) {
    opacity: 0;
  }

  .active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-book {
    display: none;
  }
}

/* Main styles */

.main {
  max-width: 1440px;
  font-family: "Helvetica";
}

.pic-ctn {
  width: 80vw;
  height: 200px;
  margin: 0 auto;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 90vw;
  height: 600px;
  margin-top: 18vh;
  margin-bottom: 5vh;
  overflow: hidden;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  animation: display 12s infinite;
}

img:nth-child(2) {
  animation-delay: 4s;
}

img:nth-child(3) {
  animation-delay: 8s;
}

.top_title {
  max-width: 1440px;
  margin-bottom: 1%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 91.7%;

  align-items: center;
  text-align: center;

  color: #dc780b;
}

.mid_title {
  max-width: 1440px;
  font-family: "AstoriaMedium";
  font-size: 80px;
  line-height: 79px;

  align-items: center;
  text-align: center;

  color: #6fa12b;
}

.sub_title {
  max-width: 1440px;
  margin: 4% auto;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  text-align: justify;
  color: #656c73;
}

.sub_title p {
  margin-top: 3%;
}

.founder_title {
    max-width: 1440px;
    margin-top: 8%;
    margin-bottom: 1%;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 91.7%;
  
    align-items: center;
    text-align: center;
  
    color: #dc780b;
  }
  
  .team_title {
    max-width: 1440px;
    font-family: "AstoriaMedium";
    font-size: 80px;
    line-height: 79px;
  
    align-items: center;
    text-align: center;
  
    color: #6fa12b;
  }

  .newsletter {
    background-color: #FBF1E7;
    padding: 70px;
    width: 100%;
    height: 335px;
    text-align: center;
}

.subtitle-newsletter{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    line-height: 91.7%;
    color: #DC780B;
}

.subtitle-nltagline{
    font-family: 'AstoriaMedium';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #656C73;
    margin-top: 1%;
}

.newsletter form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    margin: auto;
    margin-top: 3%;
}

button[type="submit"] {
    background-color: #6FA12B;
    border-radius: 12px;
    height: 50px;
    width: 150px;
    margin: auto;
}

.newsletter input[type="email"] {
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 10px;
}

input[type="email"]:focus {
    outline: none;
}

#email{
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    height: 62px;
    padding: 16px 16px 16px 30px;
    font-size: 16px;
    color: #656C73;
    height: 50px;
}

.newsletter button {
    background-color: #6FA12B;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #252525;
    padding: 20px;
    height: 330px;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-column {
    flex: 1;
    margin-top: 2.5%;
    margin-left: 12%;
    align-items: center;
    text-align: justify; 
    width: 200px;
}
  
.footer-column:last-child {
    margin-right: 0;
}
  
h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.ul-links-1 {
    list-style: none;
    padding: 0;
    margin-top: 10%;
    line-height: 130%;
}
  
.li-footer {
    margin-bottom: 5px;
}
  
.footer-a{
    color: white;
    text-decoration: none;
}

#logo-footer{
    width: 83px;
    height: 56px;
}

.footer-about{
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: white;
    margin-top: 21%;
}

.title-about{
    position: absolute;
    font-family: 'AstoriaMedium';
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.ul-links{
    line-height: 130%;
    align-items: center;
    text-align: justify;
    color: white;
    margin-top: 21%;
    list-style: none;
}

.footer-icons a.social {
    margin-right: 10px; 
}

.footer-icons{
    margin-top: 6%;
}